DJANGO_SECRET_KEY=change-me-in-prod-use-env
DEBUG=0
DB_ENGINE=django.db.backends.postgresql
DB_NAME=farmsphere
DB_USER=farmsphere
DB_PASSWORD=example-password-not-real
DB_HOST=localhost
REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER=redis://127.0.0.1:6379/0
USE_SQLITE=1
